<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)" [zoom]="zoom">
    <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
        [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m.lat, m.lng, m, $event)">

        <agm-info-window>
            <strong>InfoWindow content</strong>
        </agm-info-window>

    </agm-marker>

    <agm-polygon *ngFor="let p of polygons" [paths]="p.path" [fillColor]="p.status | statusParcarePipe"></agm-polygon>

</agm-map>

<div class="card-legenda">
    <h5>Legendă</h5>
    <div>
        <div class="legenda green"></div>
        <p class="legenda-item">Loc liber</p>
    </div>

    <div>
        <div class="legenda red"></div>
        <p class="legenda-item">Loc ocupat</p>
    </div>

    <div>
        <div class="legenda yellow"></div>
        <p class="legenda-item">Date indisponibile</p>
    </div>
</div>

<div class="parcari">

    <div class="row">
        <div class="col-lg-6">
            <div class="card" style="width: 100%">
                <div class="card-body">           

                    <div style="display: inline-block">
                        <h5 class="card-title">PHM Parking</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Facem șoferii fericiți. Începând din 2018</h6>
                        <h4 *ngIf="dateParcari[0]">Total locuri parcare: {{dateParcari[0].length}}</h4>
                        <h5 *ngIf="dateParcari[0]">Total locuri parcare libere: {{liber}}</h5>
                        <h5 *ngIf="dateParcari[0]">Total locuri parcare ocupate: {{ocupat}}</h5>
                    </div>

                    
                </div>


            </div>
        </div>

        <div class="col-lg-6">
            <canvas id="myChart"></canvas>
        </div>
    </div>        
</div>